<li 
    [ngClass]="{
        'list-group-item': true,
        'list-group-item-success': monitorStatus === 'On',
        'list-group-item-danger': monitorStatus === 'Off'
    }"
>
    <h4 [ngStyle]="{color: getColor()}">Monitor : {{ monitorName }} -- status : {{ getStatus() }}</h4>

    <a [routerLink]="[monitorId]">Details</a>

    <input type="text" class="form-control" [(ngModel)]="monitorName">

    <button
        class="btn btn-sm btn-success"
        *ngIf="monitorStatus === 'Off'"
        (click)="onSwitch()"
    >
        Switch on
    </button>

    <button
        class="btn btn-sm btn-danger"
        *ngIf="monitorStatus === 'On'"
        (click)="onSwitch()"
    >
        Switch off
    </button>
</li>