<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to the Blog !
    </h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Posts</h2>

            <ul class="list-group">
                <app-post 
                    *ngFor="let post of posts"
                    [post]="post"
                    (onLikes)="balanceLikes($event)"
                    (onDelete)="deletePost($event)"
                ></app-post>
            </ul>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
