<div>
    <mat-button-toggle #toggleBtn checked>Toggle</mat-button-toggle>
    {{ toggleBtn.checked }}

    <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
        <mat-button-toggle value="Angular">Angular</mat-button-toggle>
        <mat-button-toggle value="React">React</mat-button-toggle>
        <mat-button-toggle value="Vue">Vue</mat-button-toggle>
    </mat-button-toggle-group>
    {{ toggleGroup.value }}
</div>

<button mat-button color="primary">Hello World</button>
<button mat-raised-button color="accent">Hello World</button>
<button mat-flat-button color="primary">Hello World</button>
<button mat-stroked-button color="warn">Hello World</button>

<button mat-icon-button color="primary">Hey</button>
<button mat-fab color="primary">Hey</button>
<button mat-mini-fab color="primary">Hey</button>

<div class="mat-display-4">this is display 4</div>
<div class="mat-display-3">this is display 3</div>
<div class="mat-display-2">this is display 2</div>
<div class="mat-display-1">this is display 1</div>

<div class="mat-headline">this is heading - h1</div>
<div class="mat-title">this is heading - h2</div>
<div class="mat-subheading-2">this is heading - h3</div>
<div class="mat-subheading-1">this is heading - h4</div>

<div class="mat-bosy-2">this is a bold body text</div>
<div class="mat-body-1">this is a body text</div>
<div class="mat-caption">this is a caption text</div>


<router-outlet></router-outlet>
